/*OPosition of the KitchenCanvas*/
#kitchenCanvas {
    margin-right:20px;
    float:left;
}

/*Size, position anf font-family for the cuurrentRecipe block*/
#currentRecipe {
    width:300px;
    height:600px;
    float:left;
    font-family:sans-serif;
}

/*All h1 elements have 0px place above them and are written in sans-serif with a size of 25px*/
h1 {
    margin-top: 0px;
    font-family:sans-serif;
    font-size:25px;
}

/*All h2 elements shall have font-size 20px*/
h2 {
    font-size:20px;
}


/*The recipeMenu shall use the font sans-serif*/
#recipeMenu {
    font-family:sans-serif;
}

/*if the mouse is moved over a h2 element in the recipeMenu block, the mouse turns into a pointer and the h2 element is highlighted blue*/
#recipeMenu h2:hover {
    cursor:pointer;
    color:dodgerblue;
}

/*The tutorial block is uninfluenced by the position of the other elements
it always sits at 300 x and 60 y and is 300px wide and and 200px high
the tutorial block features a dark to brightblue background, everything is written in sans-serif*/
#tutorial {
    position:absolute;
    top:60px;
    left:300px;
    width:250px;
    height:200px;
    background: #2bd3e2; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #2bd3e2 0%, #1e5799 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#2bd3e2), color-stop(100%,#1e5799)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  #2bd3e2 0%,#1e5799 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  #2bd3e2 0%,#1e5799 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  #2bd3e2 0%,#1e5799 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  #2bd3e2 0%,#1e5799 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2bd3e2', endColorstr='#1e5799',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border:5px solid white;
    border-radius: 15px;
    font-family:sans-serif;
}

/*colour for the h1 elements in the tutorial block*/
#tutorial h1 {
    text-align:center;
    color:white;
    margin-top:5px;
    margin-left:5px;
    margin-right:5px;
}

/*colour for the p elements in the tutorial block*/
#tutorial p {
    color:white;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:5px;
}

/*css for the languageChange Information window, sets the position and a font-type*/
#language {
    position:absolute;
    top: 20px;
    left:1020px;
    font-family:sans-serif;
}