#kitchenCanvas {
    margin-right:20px;
	float:left;
}

#currentRecipe {
	width:300px;
    height:630px;
	float:left;
}

#rezeptdetails {
    width: 300px;
    float:left;
}

h1 {
    margin-top: 0px;
}

#recipeMenu h2:hover {
    cursor:pointer;
    color:dodgerblue;
}

#tutorial {
    position:absolute;
    top:60px;
    left:30px;
    width:400px;
    height:200px;
    background:darkblue;
    opacity:0.6;
}

#tutorial h1 {
    color:deepskyblue;
}

#tutorial p {
    color:deepskyblue;
}